{% if site.data.settings.authors_section.enable == true %}
<!-- begin section-authors -->
<section class="section section-authors animate">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="section-authors__inner">

          {% if site.data.settings.authors_section.section_title %}
          <h3 class="section-authors__title">{{ site.data.settings.authors_section.section_title }}</h3>
          {% endif %}

          <div class="section-authors__content">
            <div class="section-authors__box">
            <!-- for Krzysztof -->
            {% for author in site.authors limit:5 %}
              {% if author.username == "Krzysztof Poterlowicz" %}
                <a href="{{ author.url }}" class="section-authors__image">
                  <img class="lazy" data-src="{{ author.image }}" alt="{{ author.name }}">
                </a>
              {% endif %}
            {% endfor %}
            <!-- for kasia -->
            {% for author in site.authors limit:5 %}
              {% if author.username == "Katarzyna Kamieniecka" %}
                <a href="{{ author.url }}" class="section-authors__image">
                  <img class="lazy" data-src="{{ author.image }}" alt="{{ author.name }}">
                </a>
              {% endif %}
            {% endfor %}
            <!-- for xenia -->
            {% for author in site.authors limit:5 %}
              {% if author.username == "Xenia Perez Sitja" %}
                <a href="{{ author.url }}" class="section-authors__image">
                  <img class="lazy" data-src="{{ author.image }}" alt="{{ author.name }}">
                </a>
              {% endif %}
            {% endfor %}  
            <!-- for all -->
            {% for author in site.authors limit:5 %}
              {% if author.username != "Krzysztof Poterlowicz" and author.username != "Katarzyna Kamieniecka" and author.username != "Xenia Perez Sitja"%}
                <a href="{{ author.url }}" class="section-authors__image">
                  <img class="lazy" data-src="{{ author.image }}" alt="{{ author.name }}">
                </a>
              {% endif %}
            {% endfor %}  
            </div>
            {% if site.authors.size > 5 %}
            <a href="/authors/" class="section-authors__link">See all authors</a>
            {% endif %}
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- end section-authors -->
{% endif %}